 html, body{
  margin: 0px;
  background-image: url('./img/mainBg.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.bgMain{
  width: 100%;
  text-align: center;
}
.login-form{
  margin: auto;
  margin-top: 17%;
  width: 400px;
  height: 237px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.97);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginBlock{
  margin-top: 20px;
}
input[type="submit"] {
  width: 358px;
  height: 30px;
}
.username .password{
  margin: 20px;
  padding: 20px;
}
nav{
  background-color: #005BAF;
  padding: 0.5rem;
  text-align: center;
}
nav a{
  color: white;
  text-decoration: none;
  padding: 1rem;
}
.link-to-dashboard link{
  text-decoration: none;
}