.background-page {
  margin: 0px;
  background-image: url("./img/mainBg.jpg");
  background-position: 50%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}
.bgMain {
  width: 100%;
  text-align: center;
}
.bg-banner {
  margin: 0px;
  background-image: url("./img/Banner.png");
 
  min-height: 180px;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.login-form {
  margin: auto;
  margin-top: 17%;
  width: 400px;
  height: 237px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.97);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginBlock {
  margin-top: 20px;
}
input[type="submit"] {
  width: 358px;
  height: 30px;
}
.username .password {
  margin: 20px;
  padding: 20px;
}
nav {
  background-color: #005baf;
  padding: 0.5rem;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
.link-to-dashboard link {
  text-decoration: none;
}
.zero-Nav{
  margin-left: 0px;
}
.first-Nav{
  margin-left: 100px;
}
.text-nav-blur{
  color:#96CDFC;
  margin-left: 0.5rem;
}